- #origin: GM
%h2 Sign up!
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = devise_error_messages!
  %fieldset
    %legend Fill in your details
    = f.input :email
    = f.input :full_name
    = country_code_select(:user, :country, [[ 'Germany', 'DE']])
  %fieldset
    %legend Choose Login and Password
    = f.input :username
    = f.input :password
    = f.input :password_confirmation, :required => true
  #coordinates
    = f.input :lat
    = f.input :lng
  = f.button :submit
= render :partial => "devise/shared/links"
