%h1 Search for a member
= simple_form_for(@user, :url => search_users_path, :html => {:method => :get}) do |f|
  .inputs
    = f.input :username

  .actions
    = f.submit 'Search'
%p
- if !@empty_form
  %h2 Results
  - if @users.empty?
    %p.warn No users found.
  - else
    = form_tag send_many_friendship_requests_path do |f|
      %ul
      - for user in @users
        %li
          - if !current_user.friends_with?(user) && !current_user.friendship_requests.map(&:friend).include?(user)
            = check_box_tag "user[#{user.id}]", 1
          = link_to user_info(user), user
          = "( #{user.city}, #{user.country} )"
      = submit_tag "Make friends!", :class => 'make_friends'
