%h1
  - if @user == current_user
    Your Profile
  - else
    Profile of
    = @user.full_name
    
%h2 Details
%table
  %tr
    %td Username:
    %td= @user.username
  %tr
    %td Full name:
    %td= @user.full_name
  %tr
    %td Email:
    %td= @user.email
  %tr
    %td Town:
    %td= @user.city
  %tr
    %td Country:
    %td= @user.country
  %tr
    %td Latitude:
    %td= @user.lat
  %tr
    %td Longitude:
    %td= @user.lng
    
%h2 Friends
- if @user.friends.empty?
  %p.warn
    Uhh? You have no friends here!
    = link_to 'Make some', search_users_path
- else
  %ul
    - for friend in @user.friends
      %li= user_info(friend)
      
%h2 Friendship request
- if @user.friendship_requests.empty?
  %p.warn No friendship reqúests.
- else
  %ul.list
    - for friend in @user.friendship_requests.map(&:friend)
      %li= user_info(friend)
      
%h2 Friendship invitations
- if @user.friendship_invitations.empty?
  %p.warn No friendship invitations.
- else
  %ul.list
    - for friend in @user.friendship_invitations.map(&:user)
      %li= user_info(friend)