%p
  = simple_form_for(@conference) do |f|
    - if @conference.errors.any?
      #error_explanation
        %h2
          = pluralize(@conference.errors.count, "error")
          prohibited this conference from being saved:

        %ul
        - @conference.errors.full_messages.each do |msg|
          %li= msg

    .inputs
      = f.input :name
      = f.input :startdate
      = f.input :enddate
      = f.input :description
      = f.input :location

      = f.input :gps
      = f.association :categories, :collection => Category.root.all.map(&:self_with_ancestors).flatten
      = f.input :venue
      = f.input :accomodation
      = f.input :howtofind

    .actions
      = f.button :submit
