%h1= @conference.name

%p.subline
  from
  = @conference.startdate
  to
  = @conference.enddate
  in
  = @conference.location
  %span.ical
    (
    = link_to "iCal", conference_ical_path(@conference)
    )
    
%h2 Description
%p= @conference.description

- unless @conference.venue.blank?
  %h2 Venue
  %p= @conference.venue

- unless @conference.howtofind.blank?
  %h2 How to find
  %p= @conference.howtofind

- unless @conference.accomodation.blank?
  %h2 Accomodation
  %p= @conference.accomodation
  
%h2 Organizer
%p
  = @conference.creator.full_name
  (
  = link_to @conference.creator.email, "mailto:#{@conference.creator.email}"
  )

%h2 Attendees
- unless @conference.participants.empty?
  %ul.links
    - for perticipant in @conference.participants
      %li= user_info(perticipant)
- else
  %p.warn No attendees so far
= attend_or_unattend_button