%h1= @conference.name

%p.subline
  from
  = @conference.startdate
  to
  = @conference.enddate
  in
  = @conference.location
  %span.ical
    (
    = link_to "iCal", conference_ical_path(@conference)
    )

  - if current_user.participation_for(@conference)
    %br
    %span.warn You are attending the conference.
  - if current_user == @conference.creator
    %br
    %span.warn You are the organizator.

%h2 Description
%p= @conference.description

- unless @conference.venue.blank?
  %h2 Venue
  %p= @conference.venue

- unless @conference.howtofind.blank?
  %h2 How to find
  %p= @conference.howtofind

- unless @conference.accomodation.blank?
  %h2 Accomodation
  %p= @conference.accomodation
  
%h2 Organizer
%p
  = link_to @conference.creator.full_name, user_path(@conference.creator)
  (
  = link_to @conference.creator.email, "mailto:#{@conference.creator.email}"
  )
  = edit_link_if_creator(current_user)

%h2 Attendees
- unless @conference.participants.empty?
  %ul.links
    - for participant in @conference.participants
      %li= link_to user_info(participant), user_path(participant)
- else
  %p.warn No attendees so far
%p= attend_or_unattend_button

%h2 Categories
%p= @conference.categories.map(&:name).join(', ')

%h2 Invite friends
- if current_user.friends.any?
  %ul.links
    = form_tag notifications_path do |f|
      = hidden_field_tag :conference_id, @conference.id
      - for friend in current_user.friends
        %li
          %span.checkbox
            - unless friend.participation_for(@conference) || friend.has_invitation_for(@conference) 
              = check_box_tag "user[#{friend.id}]", 1
            - else
              %span.warn IV
          = link_to user_info(friend), user_path(friend)
      = submit_tag "Invite friends to this conference!", :class => 'invite_friends_to_conference'
    