!!! 5
%head
  %title PlatForms2011
  = stylesheet_link_tag :all
  = stylesheet_link_tag 'application.css'
  = javascript_include_tag :defaults
  = csrf_meta_tag
  = yield(:head)

%body
  #header
    = login_navigation
    = navigation
  #content
    = render :partial => 'shared/flash'
    = yield
  #footer
